html,
body {
  padding: 0;
  margin: 0;
}

.header {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-evenly;
  padding: 16px;
}

.footer {
  font-size: 18px;
  color: #f9faf8;
  text-align: center;
  padding: 50px 0;
}

head {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  font-size: 18px;
  font-weight: 100;
  color: #e5e7eb;
  text-decoration: none;
}

.links {
  display: flex;
  padding: 0 200px;
  gap: 16px;
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  background: #1f2937;
  height: 500px;
}

.hero,
.primary {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.hero,
.secondary {
  font-size: 18px;
  font-weight: normal;
  color: #e5e7eb;
}

button1 {
  color: white;
  background: #3882f6;
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
}

button2 {
  color: white;
  border-style: solid;
  border-color: white;
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding: 100px 150px;
  text-align: left;
}

.info {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  text-align: center;
  margin-top: 100px;
}

.infocontainer {
  display: flex;
  justify-content: center;
}

.image {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 8px;
  padding: 120px 0;
}

.quote {
  background: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  padding: 150px;
  display: flex;
  flex-flow: column;
}

.signature {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  display: flex;
  justify-content: end;
}

.endcontainer {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 100px;
}

.signupcontainer {
  background: #3882f6;
  color: white;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  padding: 50px 150px;
  border-radius: 8px;
}

.signup {
  padding: 0 50px;
}

.subtext {
  font-size: 18px;
  font-weight: 100;
}

img {
  padding: 0 32px;
}

.footer {
  background: #1f2937;
}
